.container {
    width: 60%;
    padding: 32px;

    border-radius: 25px;

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 48px;

    background-color: var(--white);
}


.boxCalc{
    background-color: var(--white);
    height: 100%;
    width: 100%;
    border-radius: 25px;

    grid-column: 1 / 2;
}

.boxResult{


    background-color: var(--very-dark-cyan);
    height: 100%;
    width: 100%;
    border-radius: 25px;

    grid-column: 2 / 2;
}

