.container {
    padding: 3.2rem;
    width: min(92rem, 100%);

    border-radius: 2.5rem;

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 4.8rem;

    background-color: var(--white);

    margin-top: 8rem;
    margin-bottom: 8rem;
}


.boxCalc{
    background-color: var(--white);
    /* width: 41.3rem; */
    height: min(100%, 41.7rem);
    width: min(100%, 41.3rem);
    border-radius: 2.5rem;

    grid-column: 1 / 2;
}

.boxResult{


    background-color: var(--very-dark-cyan);
    /* width: 41.3rem; */
    height: min(100%, 41.7rem);
    width: min(100%, 41.3rem);
    border-radius: 2.5rem;

    padding: 4rem;

    grid-column: 2 / 2;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


@media screen and (max-width: 376px) {
    .container {
        grid-template-columns: 1fr;
        row-gap: 4.8rem;
    }

    .boxCalc {
        margin-bottom: 0rem;
    }

    .boxResult {
        grid-column: 1;
        grid-row: 2;
        padding: 3rem;
        justify-content: start;
    }
}
