@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@700&display=swap');
@import url('./containers.css');
@import url('./calculator/IndexCalculator.css');
@import url('./result/IndexResult.css');

:root {
    --very-dark-cyan: hsl(183, 100%, 15%);
    --dark-grayish-cyan: hsl(186, 14%, 43%);
    --grayish-cyan: hsl(184, 14%, 56%);
    --light-grayish-cyan: hsl(185, 41%, 84%);
    --very-light-grayish-cyan: hsl(189, 41%, 97%);
    --white: hsl(0, 0%, 100%);
    --greenB: #26C2AE;
    --greenA: #9FE8DF;
}

html {
    box-sizing: border-box;
    font-size: 62.5%; /* 62.5% = 1 rem = 10px */    
}
*, *:before, *:after {
    box-sizing: inherit;
}



body {
    font-family: 'Space Mono', monospace;
    font-weight: 700;
    font-size: 1.6rem;
    margin: 0px;

    min-height: 100vh;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background-color: var(--light-grayish-cyan);
}


.logo {
    margin-top: 8rem;
    margin-bottom: 8rem;
}



